* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Audiowide', sans-serif;
    background-color: #f8c8c8;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    font-size: 80px;
    margin-top: -20px;
    margin-bottom: 0%;
}
p {
    
    font-size: 38px;
    display: flex;
    justify-content: flex-start;
}
main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.header {
    background-color: #db6b6b;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 70px;
    height: 70px;   
    margin-left: 10px;
    position:absolute;
    left: 0%;
}
.nav a {
    position: relative;
    text-decoration: none;
    color: black;
    background-color: #e07b7b;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    display: inline-block; /* Assure une bonne taille */
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 5px; /* Ajuste l'espace sous le bouton */
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav a:hover {
    background-color: #c55b5b; /* Couleur au survol */
    color: white;
}

.nav a:hover::after {
    width: 80%; /* Laisse un peu de marge sur les côtés */
}
.container {
    background-color: #f4a4a4;
    padding-top: -10%;
    margin: 10px auto;
    width: 99%;
    border-radius: 10px;
    flex: 1;
    line-height: 2;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text1 {
    padding-top: 2%;
    padding-left: 8%;
    margin-left: 8%;
    margin-bottom: 3%;
    flex: 1;
    font-size: 24px;
    font-weight: bold;
}
.text2 {
    padding-top: 0%;
    padding-left: 8%;
    flex: 1;
    font-size: 24px;
    font-weight: bold;
}

.TD {
    width: 20%;
    height: auto;
    margin: auto;
    border-radius: 75px;
    margin-right: 20%;
    align-items: flex-end;
    transition: transform 0.1s ease-in-out;
}
.TD:hover {
    transform: scale(1.05);
}
.TD:active {
    transform: scale(0.95);
}
.AR {
    width: 30%;
    height: auto;
    margin-top: 3%;
    border-radius: 75px;
    margin-left: 2%;
    margin-bottom: 4%;
    transition: transform 0.1s ease-in-out;
}
.AR:hover {
    transform: scale(1.05); 
}
.AR:active {
    transform: scale(0.95); 
}
.footer {
    background-color: #db6b6b;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    margin-top: auto;
}